.module-content-block {

	.row {

		// as many as possible here

		&.is-flex {
			@include breakpoint($tablet){
				justify-content:space-between;
			}

			.content-block-column {
				
				@include breakpoint($tablet){
					flex:1;
					margin-right:gutter();
				}

				&:last-of-type {
					margin-right:0;
				}
			}

		}
		
		// just use simple floats if no flexbox wrapper

		&:not(.is-flex){
			.content-block-column {
				@include breakpoint($tablet){
					@include gallery(6);
				}
			}
		}

	}

}


.content-block {

	p {
		
	}
}

.content-block-column {

	// @include breakpoint($tablet){
	// 	@include gallery(6);
	// }
}